@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0%;
    margin: 0%;
    font-family: "Poppins", serif;
}
:root {
    --gold :#E6C744;
    --white :#ffffff;
    --black :#000000;
    --pink :#C2C8DA;
    --hover :#1f1e1e; 
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.navbar img {
    width: 150px;
    margin-left: 40px;
}

.toggle-button {
    display: none;
}
.menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu a {
    padding-right: 40px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.menu button {
    background-color: black;
    color: white;
    padding: 8px 12px;
    border-radius: 10px;
    margin-right: 40px;
    cursor: pointer;
    border: none;
}

.sign-up:hover {
    background-color: var(--hover);
}

.landing {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F4F6F5;
    border-radius: 20px;
    margin: 0px 60px 0px 60px;
}
.landing img {
    width: 400px;
}
.text-landing {
    padding-top: 40px;
    text-transform: uppercase;
}
.landing h1 {
    font-size: 60px;
    padding-bottom: 0px;
    font-weight: bold;
}

.unique {
    position: relative;
    display: inline-block;
    z-index: 1; 
}

.unique::before {
    content: "";
    position: absolute;
    left: -5%;
    padding-right: 20%;
    top: 5%;
    width: 110%;
    height: 1.2em;
    background-color: var(--gold);
    z-index: -1;
    transform: rotate(-3deg);
    pointer-events: none;
}


.btn-shop {
    background-color: black;
    color: white;
    padding: 8px 12px 8px;
    border-radius: 10px;
    margin: 20px 0px 40px;
    cursor: pointer;
    border: none;
}
.btn-shop:hover {
    background-color: var(--hover);
}
.sponsor-container {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--gold);
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 30px;
    margin: 20px 0px;
    gap: 15px;
    height: auto;
}

.sponsor img {
    width: 5.5rem;
    height: 3rem;
    object-fit: contain;
}

.section-brand{
    padding: 30px;

}
.section-brand h1 {
    font-weight: bold;
    padding: 0px 0px 0px 30px;
}

.brand-container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-items: center;
    padding: 35px;
}
.brand-container img {
    max-width: 350px;

}

.payday {
    background-color: var(--gold);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-payday {
    margin-right: 25%;

}
.text-payday h1 {
font-weight: 800;
font-size: 60px;

}
.text-payday h4 {
padding-top: 20px;

}
.payday img {
    width: 600px;
}

.section-favorite{
    padding: 30px;

}
.section-favorite h1 {
    font-weight: bold;
    padding: 0px 0px 0px 30px;
}

.favorite-container {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-items: center;
    padding: 35px;
    align-content: center;
}
.favorite-container img {
    max-width: 35rem;

}

.app {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 60px;
}
.app img {
    width: 25rem;

}
.app h1 {
    font-weight: 800;
    font-size: 40px;
}
.special-text {
    padding-top: 2rem;
}
.btn-download {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px 8px 10px;
    background-color: #000000;
    border-radius: 8px;
    border: none;
    width: 11rem;
    height: 3.8rem;
}

.container-download {
    display: flex;
    padding: 3px;
    gap: 3rem;
    margin-top: 2.5rem;
}
.container-download img {
    width: 2.6rem;
}

.icon-apple .icon-google {
    padding: 5px;
}
.text-apple {
    color: #ffffff;
}
.text-google {
    color: #ffffff;
}
.container-community {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--gold);
}
.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    max-width: 400px;
    width: 100%;
    margin-bottom: 6rem;
}
input {
    flex: 1;
    border: none;
    padding: 12px 15px;
    font-size: 14px;
    outline: none;
    color: #333;
}
#btn-input {
    background: black;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0.4rem;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    font-weight:normal;
}
#btn-input:hover {
    background-color: var(--hover);
}

.text-community {
    text-align: center;
    color: #ffffff;
}
.text-community h1 {
    padding-top: 6rem;
    font-weight: 800;
    font-size: xx-large;
}
.text-community p {
    padding: 1rem 0rem;
}
.footer-container {
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5rem 4rem;
}

.text-footer-fashion {
    color: var(--white);
}
.text-footer-fashion p {
    font-weight: 100;
    font-size: small;
    padding-top: 1rem;
}
.footer-company {
    display:flex ;
    flex-direction: column;
}    
.text-footer-company {
    display:flex ;
    flex-direction: column;
    color: var(--white);
}
.text-footer-company h3{
    padding-bottom: 1rem;
    font-weight: normal;
}
.text-footer-company a {
    text-decoration: none;
    color: var(--white);
    font-weight: 100;
    font-size: small;
}
.text-footer-link {
    display:flex ;
    flex-direction: column;
    color: var(--white);
}
.text-footer-link h3{
    padding-bottom: 1rem;
    font-weight: normal;
}
.text-footer-link a {
    text-decoration: none;
    color: var(--white);
    font-weight: 100;
    font-size: small;
}
.text-footer-legal {
    display:flex ;
    flex-direction: column;
    color: var(--white);
}
.text-footer-legal h3{
    padding-bottom: 1rem;
    font-weight:normal;
}
.text-footer-legal p{
    font-weight: 100;
    font-size: small;
}
.footer-icon {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-top: 1.5rem;
}
.footer-icon img {
    width: 1.3rem;
    height: 1.3rem;
}
.icon-facebook {
    background-color: var(--gold);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 2rem;
    height: 2rem;
}
.icon-facebook a {
    display: flex;
    justify-content: center;
}
.icon-instagram {
    background-color: var(--gold);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 2rem;
    height: 2rem;
}
.icon-instagram a {
    display: flex;
    justify-content: center;
}
.icon-twitter {
    background-color: var(--gold);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 2rem;
    height: 2rem;
}
.icon-twitter a {
    display: flex;
    justify-content: center;
}
.icon-linkedin {
    background-color: var(--gold);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 2rem;
    height: 2rem;
}
.icon-linkedin a {
    display: flex;
    justify-content: center;
}
@media (max-width: 860px) {
    .navbar {
        flex-wrap: wrap;
    }

    .navbar img {
        margin: 0 auto;
    }

    .menu {
        flex-direction: column;
        width: 100%;
        align-items: center;
        display: none;
    }

    .menu.active {
        display: flex;
    }

    .menu a {
        padding: 10px 0;
        text-align: center;
        width: 100%;
    }

    .menu button {
        margin: 10px 0;
    }

    .toggle-button {
        display: block;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: black;
        margin: 10px auto;
    }

    .landing {
        flex-direction: column;
    }
    .landing img {
        display: none;
    }
    .sponsor-container img {
        width: 5rem;
        height: 3rem;
    }
    .brand-container {
        justify-content: center;
    }
    .highlighted-text-arrivals {
        text-align: center;
    }
    .payday img {
        width: 400px;
    }
    .text-payday {
        margin-top: 2rem;
    
    }
    .text-payday h1 {
    font-weight: 800;
    font-size: 50px;
    
    }
    .text-payday h4 {
    padding-top: 10px;
    
    }
    .favorite-container {
        justify-content: center;
    }
    .text-favorite {
        text-align: center;
    }
}
@media (max-width: 750px) {
    .footer-container {
        padding-bottom: 1rem;
        gap: 1rem;
    }
}

@media (max-width: 600px) {
    .payday img {
        display: none;
    }
    .text-payday {
        margin-left: 4rem;
    
    }
    .text-payday h1 {
    font-weight: 800;
    font-size: 40px;
    
    }
    .text-payday h4 {
    padding-top: 20px;
    
    }
    .favorite-container {
        justify-content: center;
    }
    .text-favorite {
        text-align: center;
    }
    .text-app h1 {
        font-size: 2rem;
    }
    .text-app p {
        font-size: 0.8rem;
    }
    .btn-download {
        width: 8rem;
        height: 3rem;
    }
    .icon-apple img {
        width: 2.2rem;
    }
    .icon-google img {
        width: 2.2rem;
    }
    .text-apple p {
        font-size: 0.5rem;
    }
    .text-apple h3 {
        font-size: 0.7rem;
    }
    .text-google p {
        font-size: 0.6rem;
    }
    .text-google h3 {
        font-size: 0.7rem;
    }
    .container-download {
        gap: 2.2rem;
    }
    #img-app {
        width: 22rem;
    }
}

@media (max-width: 500px) {
    .text-landing {
        padding-left: 1rem;
    }
    .text-landing p {
       font-size: small;
    }
    .landing h1 {
        font-size: 45px;
        padding-bottom: 0px;
        font-weight: bold;
    }
    .brand-container {
        justify-content: center;
    }
    .highlighted-text-arrivals {
        text-align: center;
    }
    .section-brand h1{
        padding: 0px;
    
    }
    .favorite-container {
        justify-content: center;
    }
    .favorite-container img {
        width: 20rem;
    }
    .text-favorite {
        text-align: center;
    }
    .section-favorite h1{
        padding: 0px;
    
    }
    .favorite-container {
        justify-content: center;
    }
    .text-favorite {
        text-align: center;
    }
    .input-container{
        width: 300px;
    }
}